body {
    overflow-x: hidden;
}

.wrapper {
    display: block;
    position: relative;
}

.width-700,
.width-800 
 {
    margin: 0 auto;
}

.width-700 {
     width: 700px;
}

.width-800 {
    width: 800px;
}

.verticle {
    flex-direction: column;
}

ul {
    width: 100%;
    padding: 0;
}

h1, p {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-50 {
    flex-basis: 50%;
}