$primary-color: #B18C35;

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 1100px;
}

.width-45 {
    width: 45%;
}

.nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    .logo {
        img {
            width: 100%;
            max-width: 40px;
        }
    }
    .menu {
        text-align: right;
    }
}

.paragraph {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
}

.feature {
    
    &:after {
        clear: both;
    }

    div {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .image-idea {
        > div {
            width: 50%;
            margin-top: -200px;
            &:first-child {
                margin-top: 50px;
            }
        }

        > div:nth-child(odd) {
            // float: left;
        }
        > div:nth-child(even) {
            float: right;
        }
    }


    h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 3px;
        margin: 20px 0;
        margin-top: 35px;
    }

    p {
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.8;
        font-size: 14px;
        margin-bottom: 25px;
        width: 80%;
    }

    a {
        border: 1px solid #ACD349;
        padding: 17px;
        border-radius: 50%;
        display: inline-block;
        text-decoration: none;
        color: #ACD349;
        width: 20px;
        height: 20px;
        position: relative;
        transition: width .2s ease-in-out;

        &:before {
            content: '>';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: #ACD349;
            // width: 200px;
            &:before {
                color: #fff;
            }
        }
    }
}

.is-relative {
    position: relative;
}

.is-fixed {
    position: fixed;
    top: 0;
}


.home-intro {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statement {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 0;
}

.project {
    padding: 0 !important;

    .title {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 50px;
    }

    .items {
        margin-top: 40px;
        justify-content: space-between;

        .left {
            flex-basis: 20%;
            flex: 1;
            width: 30%;
            display: none;
            // visibility: hidden; 
            ul {
                padding: 0;
                list-style: none;

                li {
                    text-transform: uppercase;
                    line-height: 42px;
                    cursor: pointer;

                    &.active {
                        color: #3DB3F7;
                    }
                }
            }
        }

        .right {
            flex-basis: 100%;

            ul {
                list-style: none;

                li {
                    .heading {
                        text-align: left;

                        h1 {
                            text-transform: uppercase;
                            font-weight: 300;
                            font-size: 30px;
                            letter-spacing: 3px;
                            margin: 20px 0;
                            margin-top: 35px;
                        }

                        p {
                            font-weight: 300;
                            letter-spacing: 1px;
                            line-height: 1.8;
                            font-size: 14px;
                            margin-bottom: 25px;
                            width: 80%;
                        }
                    }

                    .images {
                        .image {
                            float: left;  

                            &:after {
                                content: '';
                                clear: both;
                            }  
                        }
                    }

                    &:nth-child(odd) {
                        .heading {
                            float: right;
                        }

                        .images {
                            .image {
                                &:nth-child(odd) {
                                    .width-45 {
                                        float: left;
                                    }
                                }

                                &:nth-child(even) {
                                    .width-45 {
                                        float: right;
                                    }
                                }

                                &:last-child {
                                    .width-45 {
                                        width: 60%;
                                        float: none;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(even) {
                        .heading {
                            float: left;
                        }

                        .images {
                            .image {
                                &:nth-child(odd) {
                                    .width-45 {
                                        float: right;
                                    }
                                }

                                &:nth-child(even) {
                                    .width-45 {
                                        float: left;
                                    }
                                }

                                &:last-child {
                                    .width-45 {
                                        width: 60%;
                                        float: none;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }

            
                }
            }
        }
    }

}

// .project-list {
//     a {
//         text-decoration: none;
//         color: #333;
//     }
//     li.is-active {
//         a {
//             color: #f39c12;
//         }
//     }
// }

// .project-images {
//     padding: 0px 25px !important; 
//     ul {
//         list-style: none;
//     }
// }

// .project-description {
//     ul {
//         list-style: none;

//         li {    
//             visibility: hidden;
//         }
//     }
// }

/* Featured project page */
.featured-intro {
    padding: 50px 0;

    .wrapper {
        height: calc(100vh - 50px);
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            text-align: center;
            transform: translateY(-50%);

            p {
                color: #989898;
                margin-bottom: 5px;
            }

            h1 {
                color: $primary-color;
                font-size: 70px;
            }
        }
    }

    .background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        visibility: hidden;
        top: 0;
    }
}

.task {
    .topic {
        text-align: center;
        color: $primary-color;
        font-size: 35px;
    }

    ul {
        margin: 20px 0;

        li {
            color: #9D9D9D;
            padding: 5px 0;

        }
        li:first-child {
            color: $primary-color;
        }
    }
}

.family {

    .background {
        width: 100%;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .wrapper {
        padding: 100px 0;
        flex-direction: column;

        .background {
            background-size: cover;
            background-position: center;
        }

        .intro {
            text-align: center;
            padding: 40px 100px;

            h1 {
                color: $primary-color;
            }
        }
    }
}

.branding {
    .topic {
        text-align: center;
        color: $primary-color;
        font-size: 35px;
    }
}

.image-idea {
    padding: 50px 0;

    div {
        &:nth-child(even) {
            text-align: right;
        }

        &:nth-child(odd) {
            text-align: left;
        }
    }
}

.material {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    
    .topic {
        text-align: center;
        color: $primary-color;
        font-size: 35px;
    }

    .parallax {
        background-size: cover;
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .material-item {
        padding: 40px 0;
        text-align: center;

        .background {
            background-size: cover;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }

        p {
            color: $primary-color;
            margin: 15px 0;
        }
    }
}

.it-is {
    p {
        margin: 30px 0;
    }
}

.texture, .branding, .it-is {

    .topic {
        text-align: center;
        color: $primary-color;
        font-size: 35px;
    }
}

.texture, .sketch, .it-is {
    padding: 50px 0;
}

