$primary-color: #B18C35;

@import 'default';
@import 'icon-font';

.nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    .logo {
        img {
            width: 100%;
            max-width: 40px;
        }
    }
    .menu {
        text-align: right;
    }
}

.paragraph {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
}

.feature {
    
    &:after {
        clear: both;
    }

    div {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .image-idea {
        > div {
            width: 50%;
            margin-top: -200px;
            &:first-child {
                margin-top: 50px;
            }
        }

        > div:nth-child(odd) {
            // float: left;
        }
        > div:nth-child(even) {
            float: right;
        }
    }


    h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 3px;
        margin: 20px 0;
        margin-top: 35px;
    }

    p {
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.8;
        font-size: 14px;
        margin-bottom: 25px;
        width: 80%;
    }

    a {
        border: 1px solid #ACD349;
        padding: 17px;
        border-radius: 50%;
        display: inline-block;
        text-decoration: none;
        color: #ACD349;
        width: 20px;
        height: 20px;
        position: relative;
        transition: width .2s ease-in-out;

        &:before {
            content: '>';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: #ACD349;
            // width: 200px;
            &:before {
                color: #fff;
            }
        }
    }
}

.home-intro {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    .logoname {
        letter-spacing: 4px;
        font-size: 17px;
    }

    .title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 70px;
        letter-spacing: 3px;
        line-height: 80px;
    }

    .subheading {
        font-size: 27px;
        letter-spacing: 4px;
        margin-top: 10px;
    }
}

.statement {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 0;
}

.project {
    padding: 0 !important;

    .title {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 50px;
    }

    .items {
        margin-top: 40px;
        justify-content: space-between;

        .left {
            flex-basis: 20%;
            flex: 1;
            width: 30%;
            display: none;
            // visibility: hidden; 
            ul {
                padding: 0;
                list-style: none;

                li {
                    text-transform: uppercase;
                    line-height: 42px;
                    cursor: pointer;

                    &.active {
                        color: #3DB3F7;
                    }
                }
            }
        }

        .right {
            flex-basis: 100%;

            ul {
                list-style: none;

                li {
                    .heading {
                        text-align: left;

                        h1 {
                            text-transform: uppercase;
                            font-weight: 300;
                            font-size: 30px;
                            letter-spacing: 3px;
                            margin: 20px 0;
                            margin-top: 35px;
                        }

                        h3 {
                            font-size: 18px;
                            font-weight: normal;
                            letter-spacing: 2px;
                            line-height: 1.8;
                            padding-bottom:20px;
                            padding-top: 10px;
                            width: 80%;
                            text-transform: uppercase;
                        }

                        p {
                            font-weight: 300;
                            letter-spacing: 1px;
                            line-height: 1.8;
                            font-size: 14px;
                            margin-bottom: 25px;
                            width: 80%;
                        }
                    }

                    .images {
                        .image { 

                            &:after {
                                content: '';
                                clear: both;
                            }  
                        }
                    }

                    &:nth-child(odd) {
                        .heading {
                            float: right;
                        }

                        .images {
                            .image {
                                &:nth-child(odd) {
                                    float: left;

                                    .width-45 {
                                        float: left;
                                    }
                                }

                                &:nth-child(even) {
                                    float: right;
                                    .width-45 {
                                        float: right;
                                    }
                                }

                                &:last-child {
                
                                    .width-45 {
                                        width: 60%;
                                        float: none;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(even) {
                        .heading {
                            float: left;
                        }

                        .images {
                            .image {

                                &:nth-child(odd) {
                                    float: right;

                                    .width-45 {
                                        float: right;
                                    }
                                }

                                &:nth-child(even) {
                                    float: left;

                                    .width-45 {
                                        float: left;
                                    }
                                }

                                &:last-child {
                                    .width-45 {
                                        width: 60%;
                                        float: none;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }

            
                }
            }
        }
    }

}

footer {
    padding: 50px 0;

    .address {
        li {
            i {
                transform: translateY(2px);
                margin-right: 10px;
                float: left;
            }
        }
    }
    
    .social {
        ul {
            display: inline-block;
            text-align: right;

            li {
                margin: 0 10px;
                display: inline-block;
                
                a {
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid #888;
                    position: relative;
                    display: block;
                    border: 1px solid #888;
                    color: #888;
                    opacity: .6;
                    transition: opacity .5s ease-in-out;

                    &:hover {
                        opacity: 1;
                        transition: opacity .5s ease-in-out;
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

/* Featured project page */

.single {
    .slide {
        height: 100vh;
        a {
            display: block;
            max-width: 700px;
        }
    }
}